In [115]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [116]:
headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36'
}
response = requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250", headers=headers)

In [117]:
response

In [118]:
soup = BeautifulSoup(response.text, 'html.parser')

In [119]:
box = soup.find('li', class_ = 'ipc-metadata-list-summary-item')

In [120]:
box.find('h3', class_ = 'ipc-title__text').text

'1. The Shawshank Redemption'

In [121]:
box.find('span', class_ = 'sc-300a8231-7').text

'1994'

In [122]:
box.find('span', class_ ="ipc-rating-star--rating").text

'9.3'

In [123]:
movies = soup.find_all('li', class_ = 'ipc-metadata-list-summary-item')
len(movies)

25

In [124]:
title = []
year = []
duration = []
rating = []
no_of_votes = []
for movie in movies:
    t= movie.find('h3', class_ = 'ipc-title__text').text
    title.append(t)
    y = movie.find_all('span', class_ = 'sc-300a8231-7')
    year.append(y[0].text)
    duration.append(y[1].text)
    r = movie.find('span', class_ ="ipc-rating-star--rating").text
    rating.append(r)
    nov = movie.find('span', class_ = 'ipc-rating-star--voteCount').text
    no_of_votes.append(nov)

In [125]:
data = {'Title' : title, 'Year': year, 'Duration': duration, 'Rating' : rating, 'No of votes' : no_of_votes}

In [126]:
df = pd.DataFrame(data)
df.head()

                         Title  Year Duration Rating No of votes
0  1. The Shawshank Redemption  1994   2h 22m    9.3        (3M)
1             2. The Godfather  1972   2h 55m    9.2      (2.1M)
2           3. The Dark Knight  2008   2h 32m    9.0        (3M)
3    4. The Godfather: Part II  1974   3h 22m    9.0      (1.4M)
4              5. 12 Angry Men  1957   1h 36m    9.0      (897K)

In [127]:
df['No of votes'] = df['No of votes'].str.replace(r'[^\w\s]', '', regex=True)

In [130]:
df['Title'] = df['Title'].str.replace(r'^\w+\.\s', '', regex=True)

In [132]:
df.head()

                      Title  Year Duration Rating No of votes
0  The Shawshank Redemption  1994   2h 22m    9.3          3M
1             The Godfather  1972   2h 55m    9.2         21M
2           The Dark Knight  2008   2h 32m    9.0          3M
3    The Godfather: Part II  1974   3h 22m    9.0         14M
4              12 Angry Men  1957   1h 36m    9.0        897K

In [133]:
df.to_csv('IMDB.csv', index=False)
print('CSV file saved sucessfully')

CSV file saved sucessfully